body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* --------ItemCount------------- */

.btnStyle{
  height: 7rem;
  width: 15rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding-top: 0.5rem;
}
.pos{
  display: flex;
  justify-content: center;
}
.btn1{
  height: 3rem;
  width: 3rem;
  border-radius: 30%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.btn2{
  border-radius: 5rem;
  margin: 0.5rem;
}

/* -------------------------------- */
